.resultados {
  display: block;
}
.sug-bar {
  @include chakra-regular;
  font-size: 14px;
  color: $searchbox-font-color;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  height: 32px;
  width: 84%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 7px;
  margin: 3% 0 1% 10%;
}
.sug-container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(1, 625px);
  height: 470px;
  width: 85%;
  margin-left: 10%;
}
.content {
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  height: 75%;
  margin: 0px 5px;
  flex: 1 1 20%;
  margin-bottom: 1%;
}
.searchbox-banner {
  display: flex;
  flex-direction: row;
  background-image: $gradient-color;
  justify-content: space-between;
  width: 98%;
  height: 24px;
  @include chakra-bold;
  color: $banner-font-color;
  text-transform: capitalize;
  margin: 2px;
  line-height: 22px;
}
.content-button {
  @include chakra-regular;
  @include boton(81px);
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  position: relative;
  bottom: 15%;
  left: 5%;
  background: #4180f6;
  border: 1px solid #4c2f99;
  box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
}

.content:hover > .tend-banner {
  display: block;
}

.img {
  padding: 1px 2px;
  width: 98.5%;
  height: 92.5%;
}
.tend-img {
  padding: 1px 2px;
  width: 97.5%;
  height: 99%;
}

.tend-bar {
  @include chakra-regular;
  font-size: 14px;
  color: $searchbox-font-color;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  height: 32px;
  width: 84%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 7px;
  margin: 3% 0 1% 10%;
}
.tend-banner {
  display: none;
  justify-content: space-around;
  @include chakra-bold;
  color: $banner-font-color;
  text-transform: capitalize;
  width: 97.5%;
  height: 32px;
  position: relative;
  background-image: $gradient-color;
  bottom: 36px;
  margin-left: 1%;
}

.gif-container {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 85%;
  margin-left: 10%;
}
